In [27]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('FullDatasets/FULL_BTC.csv', index_col=0, header = 0)

In [15]:
df

            BTC / Price, USD
Time
2010-07-18          0.085840
2010-07-19          0.080800
2010-07-20          0.074736
2010-07-21          0.079193
2010-07-22          0.058470
...                      ...
2023-04-21      27292.021105
2023-04-22      27827.547592
2023-04-23      27604.685574
2023-04-24      27520.199673
2023-04-25      28302.694218

[4665 rows x 1 columns]

In [32]:
u = (df.index < '2023-01-01')
np.sum(u)

4550

In [41]:
v = (df.index > '2020-12-31')
np.sum(v)

845

In [42]:
np.sum(u * v)

730

In [43]:
df[u * v]

            BTC / Price, USD
Time
2021-01-01      29380.693733
2021-01-02      32022.681058
2021-01-03      33277.835305
2021-01-04      31802.146714
2021-01-05      34013.174172
...                      ...
2022-12-27      16698.911271
2022-12-28      16536.294200
2022-12-29      16630.593155
2022-12-30      16593.688829
2022-12-31      16524.217802

[730 rows x 1 columns]

In [45]:
df[u*v].to_csv('U.csv')

In [47]:
qw = [['2023-01-01', '2020-12-31'], ['2021-01-01', '2018-12-31'], ['2019-01-01', '2016-12-31'], ['2017-01-01', '2014-12-31'],]

In [48]:
qw

[['2023-01-01', '2020-12-31'],
 ['2021-01-01', '2018-12-31'],
 ['2019-01-01', '2016-12-31'],
 ['2017-01-01', '2014-12-31']]

In [67]:
for q in qw:
    u = (df.index < q[0])
    v = (df.index > q[1])
    l = print('BTC:' + str(int(q[1][:4]) + 1) + ":" + str(int(q[0][:4]) - 1))
    df[u * v].to_csv('PDataSets/'+'BTC:' + str(int(q[1][:4]) + 1) + ":" + str(int(q[0][:4]) - 1) + '.csv')

BTC:2021:2022
BTC:2019:2020
BTC:2017:2018
BTC:2015:2016