In [17]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('FullDatasets/FULL_ETH.csv', index_col=0, header = 0)

In [15]:
df

            ETH / Price, USD
Time
2015-08-08          1.199990
2015-08-09          1.199990
2015-08-10          1.199990
2015-08-11          0.990000
2015-08-12          1.288000
...                      ...
2023-04-21       1849.590967
2023-04-22       1875.556418
2023-04-23       1862.817309
2023-04-24       1842.867721
2023-04-25       1868.055646

[2818 rows x 1 columns]

In [18]:
u = (df.index < '2023-01-01')
np.sum(u)

2703

In [19]:
v = (df.index > '2020-12-31')
np.sum(v)

845

In [20]:
np.sum(u * v)

730

In [21]:
df[u * v]

            ETH / Price, USD
Time
2021-01-01        730.914321
2021-01-02        775.296622
2021-01-03        990.365325
2021-01-04       1030.318449
2021-01-05       1101.559814
...                      ...
2022-12-27       1211.575582
2022-12-28       1188.107925
2022-12-29       1200.920968
2022-12-30       1198.583310
2022-12-31       1195.330879

[730 rows x 1 columns]

In [45]:
df[u*v].to_csv('U.csv')

In [22]:
qw = [['2023-01-01', '2020-12-31'], ['2021-01-01', '2018-12-31'], ['2019-01-01', '2016-12-31'], ['2017-01-01', '2014-12-31'],]

In [23]:
qw

[['2023-01-01', '2020-12-31'],
 ['2021-01-01', '2018-12-31'],
 ['2019-01-01', '2016-12-31'],
 ['2017-01-01', '2014-12-31']]

In [24]:
for q in qw:
    u = (df.index < q[0])
    v = (df.index > q[1])
    l = print('ETH:' + str(int(q[1][:4]) + 1) + ":" + str(int(q[0][:4]) - 1))
    df[u * v].to_csv('PDataSets/'+'ETH:' + str(int(q[1][:4]) + 1) + ":" + str(int(q[0][:4]) - 1) + '.csv')

ETH:2021:2022
ETH:2019:2020
ETH:2017:2018
ETH:2015:2016

In [68]:
df0 = pd.read_csv('FullDatasets/FULL_DOGE.csv', index_col=0, header = 0)

In [69]:
for q in qw:
    u = (df0.index < q[0])
    v = (df0.index > q[1])
    l = print('DOGE:' + str(int(q[1][:4]) + 1) + ":" + str(int(q[0][:4]) - 1))
    df0[u * v].to_csv('PDataSets/'+'DOGE:' + str(int(q[1][:4]) + 1) + ":" + str(int(q[0][:4]) - 1) + '.csv')

DOGE:2021:2022
DOGE:2019:2020
DOGE:2017:2018
DOGE:2015:2016

In [3]:
df0 = pd.read_csv('FullDatasets/FULL_ETH.csv', index_col = 0, header = 0)

In [2]:
import pandas as pd

In [4]:
df0

            ETH / Price, USD
Time
2015-08-08          1.199990
2015-08-09          1.199990
2015-08-10          1.199990
2015-08-11          0.990000
2015-08-12          1.288000
...                      ...
2023-04-21       1849.590967
2023-04-22       1875.556418
2023-04-23       1862.817309
2023-04-24       1842.867721
2023-04-25       1868.055646

[2818 rows x 1 columns]

In [9]:
df1 = df0[(df0.index >= '2017-06-18') * (df0.index <= '2019-08-07')]

In [10]:
df1

            ETH / Price, USD
Time
2017-06-18        350.534463
2017-06-19        357.681362
2017-06-20        349.288914
2017-06-21        320.277859
2017-06-22        320.145963
...                      ...
2019-08-03        221.835316
2019-08-04        222.788522
2019-08-05        232.299909
2019-08-06        225.729268
2019-08-07        226.042917

[781 rows x 1 columns]

In [11]:
df1.to_csv('Datasets/DataETH2017.csv')